body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #011627;
}

#app {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 600px;
  background-color: white;
  border: 2px solid white;
  box-sizing: border-box;
}

header {
  background-color: #011627;
  color: white;
  height: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .left,
.right {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 18px;
}
header .center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .center span {
  font-size: 21px;
  letter-spacing: 1px;
}
header img {
  width: 135px;
  height: 148px;
}

main {
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0 130px;
}
main #details {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 29px;
  text-align: center;
}
main #tickerTextbox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 57px;
  align-items: center;
  /* border-radius: 10px; */
}
main #tickerTextbox #ticker,
#cross {
  display: flex;
  border: 3px solid #011627;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 27px;
  font-weight: 600;
  /* border-radius: 10px; */
}
main #tickerTextbox #ticker {
  flex: 7;
  padding-left: 13px;
}
main #tickerTextbox #cross {
  flex: 2;
  text-align: center;
  border-left: none;
  font-weight: 900;
  font-size: 50px;
}
main #tickerTxt {
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
}
main #uploadBtn {
  width: 100%;
  height: 95px;
}
main button {
  width: 100%;
  height: 100%;
  font-size: 25px;
  border: none;
  font-weight: 600;
  background-color: #ef233c;
  color: white;
  border-radius: 10px;
}
main #noteTxt {
  font-size: 19px;
  font-weight: 600;
}

footer {
  background-color: rgba(1, 22, 39, 3%);
  color: #011627;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
