body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #011627;
}

#app {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 600px;
  background-color: white;
  border: 2px solid white;
  box-sizing: border-box;
}

header {
  background-color: #011627;
  color: white;
  height: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .left,
.right {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 18px;
}
header .center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .center span {
  font-size: 21px;
  letter-spacing: 1px;
}
header img {
  width: 135px;
  height: 148px;
}

#inputArea,
#loadingArea {
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0 130px;
}
#inputArea #details {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 29px;
  text-align: center;
}
#inputArea #tickerTool {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#inputArea #tickerTool #tickerInput,
#cross {
  display: flex;
  border: 3px solid #011627;
  flex-direction: column;
  justify-content: center;
  font-size: 27px;
  font-weight: 600;
  flex: 1;
  text-align: center;
}
#inputArea #tickerTool #tickerInput {
  width: 100%;
  height: 100%;
  flex: 6;
  padding: 0 0 0 22px;
  font-size: 27px;
  box-sizing: border-box;
  text-align: left;
}
#inputArea #tickerTool #cross {
  flex: 2;
  text-align: center;
  border-left: none;
  font-weight: 900;
  font-size: 50px;
  cursor: pointer;
}
#inputArea #tickerTxt {
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
}
#inputArea #uploadBtn {
  width: 100%;
  height: 95px;
  cursor: pointer;
}
#inputArea #uploadBtn:disabled {
  opacity: 20%;
  cursor: not-allowed;
}
#inputArea button {
  width: 100%;
  height: 100%;
  font-size: 25px;
  border: none;
  font-weight: 600;
  background-color: #ef233c;
  color: white;
  border-radius: 10px;
}
#inputArea #noteTxt {
  font-size: 19px;
  font-weight: 600;
}

#loadingArea #loadingIcon img {
  width: 244px;
}
#loadingArea #loadingTxt {
  font-size: 25px;
  font-weight: 600;
}

#reportArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 670px;
}
#reportArea #title {
  font-size: 24px;
  font-weight: 600;
  margin: 13px 0;
  text-align: center;
}
#reportArea #report {
  font-size: 24px;
  border: 3px solid black;
  box-sizing: border-box;
  margin: 0 18px;
  padding: 0 23px;
  line-height: 41px;
  height: 87%;
  text-align: justify;
}

footer {
  background-color: rgba(1, 22, 39, 3%);
  color: #011627;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
